:root {
  /* Font-family */
  --ff-poppins: 'Poppins', sans-serif;

  /* Gradients */
  --background-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
  --background-gradient-jet: linear-gradient(
    to bottom right,
    hsla(240, 1%, 18%, 0.251) 0%,
    hsla(240, 2%, 11%, 0) 100%
  ),
  hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );

  /* Colors */
  --jet: hsl(0, 0%, 22%);
  --light-gray: hsl(0, 0%, 84%);
  --orange: #FDAD15;
  --white-1: hsl(0, 0%, 96%);
  --white-2: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  /* Shadows */
  --shadows-1: 5px 5px 5px -3px hsla(0, 0%, 0%, 0.25);
  --shadows-2: 10px 10px 13px -7px hsla(0, 0%, 0%, 0.5);

  /* Transitions */
  --transition-1: 0.25s ease-in-out;
  --transition-2: 0.5s ease-in-out;
}

html { 
  font-family: var(--ff-poppins); 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white-2);
  padding: 20px;
}

.container {
  position: relative;
  background: var(--border-gradient-onyx);
  border-radius: 14px;
  text-align: center;
  z-index: 1;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 10px;
  max-width: 500px;
  width: 100%;
}
.container::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--background-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}

.header {
  margin-bottom: 20px;
}

.avatar-box {
  width: 130px;
  height: 140px;
  margin: 10px auto 20px;
  border-radius: 20%;
  overflow: hidden;
  background: var(--background-gradient-onyx);
}

.avatar {
  width: 100%;
}

h1 {
  margin:auto;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 25px;
  color: var(--white-1)
}

h2 {
  margin:auto;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--white-1)
}

.info-content .title {
  color: var(--white-2);
  background: var(--jet);
  font-size: 0.9rem;
  font-weight: var(--fw-300);
  width: max-content;
  padding: 2px 10px;
  margin: auto;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.info-content .title:hover {
  transition: var(--transition-1);
  transform: scale(1.05);
}

hr {
  width: 120px;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: var(--orange);
  border-radius: 3px;
  border: 1px solid var(--orange);
}

/* Links */
.link-item {
  list-style: none;
  position: relative;
  background: var(--border-gradient-onyx);
  border-radius: 14px;
  box-shadow: var(--shadows-2);
  transition: var(--transition-1);
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px 5px 0px;
  position: relative;
  text-decoration: none;
  width: calc(100% - 40px);
  margin: 15px auto;
}

.link-item:hover {
  transform: scale(1.05);
  box-shadow: var(--shadows-2);
}

.link-item::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--background-gradient-jet);
  border-radius: inherit;
  z-index: -1;
  padding: 10px;
}

.link-icon-box {
  position: absolute;
  left: 10px;
}

.link-icon-box img { 
  display: block;
  width: 40px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.link-content-box { 
  text-align: center;
}

.link-item-title { 
  font-weight: var(--fw-300);
  margin-bottom: 15px; 
  margin-top: 15px;
  color: var(--white-1);
}

@media (max-width: 600px) {
  
  body {
    padding: 10px;
    }
  .container {
    padding: 0;
  }
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 0.8rem;
  }
  .info-content .title {
    font-size: 0.8rem;
  }
  .avatar-box {
    width: 110px;
    height: 115px;
  }
  .link-icon-box img {
    width: 40px;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100px;
  }
  .link-item-title {
    font-size: 0.9rem;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .link-item {
    margin: 15px auto 10px;
    padding: 13px 0px 13px 0px;
  }
}

.footer {
  margin-top: 20px;
  font-size: 0.9em;
  color: #666;
}

.footer a {
  color: #0073e6;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
